DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_ALLOWED_HOSTS=api.example.com

POSTGRES_DB=codagora
POSTGRES_USER=codagora
POSTGRES_PASSWORD=change-this-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_SSLMODE=require